@font-face{
	font-family: 'porkys';
	src: url('fonts/porkys.eot?mbmn3l');
	src: url('fonts/porkys.eot?mbmn3l#iefix') format('embedded-opentype'),
		url('fonts/porkys.ttf?mbmn3l') format('truetype'),
		url('fonts/porkys.woff?mbmn3l') format('woff'),
		url('fonts/porkys.svg?mbmn3l#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}